.cart-wrapper {
    position: relative;
    min-height: calc(100vh - 120px);
    .cart-inner {
        position: relative;
        padding: 35px 8px 30px;
        .cart-content {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }
}

@media only screen and (min-width: 1216px) {
    .cart-wrapper {
        .cart-inner {
            .cart-content {
                flex-direction: row;
                .cart-product {
                    width: calc(100% - 312px);
                    .cart-display {
                        .dp {
                            display: block;
                        }
                    }
                }
                .cart-summary {
                    width: 300px;
                }
            }
        }
    }
}

@media only screen and (min-width: 991px) {
    .cart-wrapper {
        .cart-inner {
            .cart-content {
                .cart-product {
                    .cart-display {
                        .dp {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}