.pd__display {
    display: flex;
    align-items: flex-start;
    gap: 12px;

    .pd__image {
        position: relative;
        img {
            width: 100px;
            height: 100px;
            border-radius: 6px;
        }
    }

    .pd__content {
        width: calc(100% - 112px);
        display: flex;
        flex-direction: column;
        gap: 10px;

        .pd__title {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            
            .pd__name {
                font-weight: 500;
                color: rgb(23, 67, 29);
                margin-right: 5px;
                font-size: 1.2rem;
                word-break: break-word;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .pd__unit {
                background-color: var(--primary-color);
                color: #fff;
                font-size: 15px;
                padding: 0 5px;
                border-radius: 5px;
                width: fit-content;
            }
        }

        .pd__price {
            position: relative;
            span {
                color: #EB403D;
                font-weight: 700;
            }
        }

        .pd__set-quantity {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            button {
                width: 32px;
                height: 32px;
                border: 1px solid #d9d9d9;
                background-color: #fff;
                color: var(--font-green-color);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            button:disabled {
                background: #f5f5f5;
            }
            .pd__btn-minus {
                border-radius: 4px 0 0 4px;
            }
            .pd__btn-plus {
                border-radius: 0 4px 4px 0;
            }
            .pd__btn-disabled {
                color: rgba(0, 0, 0, 0.25);
                border-color: #d9d9d9;
                background: #f5f5f5;
                text-shadow: none;
                box-shadow: none;
            }
            input[type='text'] {
                width: 51.2px;
                height: 32px;
                background: rgb(255, 255, 255);
                font-size: 13px;
                border-radius: 0px;
                border: none;
                border-top: 1px solid #d9d9d9;
                border-bottom: 1px solid #d9d9d9;
                color: rgb(89, 89, 89);
                font-weight: 600;
                padding: 0px 4px;
                text-align: center !important;
            }
        }
    }
}

.pd__summary {
    position: relative;
    margin: 20px -10px 0;

    .pd__summary-font {
        position: relative;
        font-size: 1rem;
        color: #000000;
        padding: 8px 10px;
        transition: all .4s ease;
    }

    .address-dropdown {
        position: absolute;
        display: none;
        top: 71px;
        left: 0;
        right: 0;
        background: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 1;
        border-radius: 10px;
        padding: 10px;

        .addrerss-dropdown__title {
            font-weight: 500;
            color: rgb(23, 67, 29);
            margin-right: 5px;
            font-size: 1.5rem;
            word-break: break-word;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .address-dropdown__list {
            position: relative;
            margin: 10px -10px 0;
            max-height: 128px;
            overflow: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;

            .address-dropdown__item {
                padding: 8px 10px;
                font-weight: 500;
                color: rgb(23, 67, 29);
                font-size: 1rem;
                cursor: pointer;

                &:hover {
                    background-color: var(--primary-color-7);
                }
            }
        }

        &::before {
            position: absolute;
            content: "";
            background-color: #ffffff;
            top: -4px;
            right: 50px;
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
            z-index: -1;
        }
    }

    .active {
        display: block;
    }

    .pd__total-quantity,
    .pd__address {
        color: var(--font-green-color);
        font-weight: 700;
    }

    .pd__total-price {
        color: #EB403D;
        font-weight: 700;
    }

    .pd__address-hover:hover {
        background-color: var(--primary-color-7);
        border-radius: 6px;
        cursor: pointer;
    }
}