.meron-form-controll {
    position: relative;
    height: 48px;
    background: rgb(255, 255, 255);
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    align-items: center;

    .meron-form-input {
        background-color: rgb(255, 255, 255);
        border: none;
        outline: none;
        font-size: 13px;
        width: 100%;
        height: 100%;
        color: var(--font-green-color);
        flex: 1;
    }

    .meron-form-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
        text-align: center;
        line-height: 20px;
    }

    &:hover {
        border-color: var(--primary-color-5);
    }

    &:focus {
        border-color: var(--primary-color);
    }
}