.cp-wrapper {
    position: relative;
    width: 100%;
    .cp-inner {
        max-width: 550px;
        margin: auto;
        .cp-form {
            max-width: 360px;
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            padding-top: 32px;
            gap: 30px;
            .cp-form__input {
                position: relative;
                width: 100%;
                .form-input {
                    height: 50px;
                    line-height: 50px;
                    border-radius: 6px;
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--font-green-color);
                }
                .input-validation {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    color: #f5222d;
                    line-height: 18px;
                    margin: 5px 0 0;
                }
                .input-suffix {
                    position: absolute;
                    height: 50px;
                    width: 50px;
                    top: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--font-green-color);
                    cursor: pointer;
                }
            }
            .cp-form__btn {
                height: 50px;
                width: 100%;
                background: var(--primary-color);
                color: #fff;
                border: none;
                border-radius: 6px;
                &:hover {
                    background: var(--primary-color-hover);
                }
            }
        }
    }
}