.meron-form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;

    
    label {
        color: var(--font-green-color);
        font-size: 13px;
        min-width: 70px;
    }
}

.meron-form-button {
    min-width: 100px;
    padding: 10px;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    transition: all .3s ease;
}

.action-btn-color {
    background-color: var(--primary-color);
    &:hover {
        background-color: var(--primary-color-hover);
    }
}
.close-btn-color {
    background-color: rgb(238, 25, 25);
    &:hover {
        background-color: rgba(238, 25, 25, .8);
    }
}