.about-introduce {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 64px 8px;
    .intro-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        .title {
            word-break: break-word;
            color: rgb(23, 67, 29);
            // color: #25479b;
            font-size: 3rem;
            font-weight: 700 !important;
        }
        .text {
            color: var(--font-gray-color);
            font-size: .9rem;
            font-weight: 500;
        }
        .social-media {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 12px;
            .icon {
                font-size: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon-style {
                    color: #168aff;
                    background-color: rgba(22,138,255,1);
                    background-image: linear-gradient(45deg, rgba(22,138,255,1) 0%, rgba(255,96,112,1) 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
    .image {
        width: 100%;
        img {
            width: 100%;
            border-radius: 20px;
        }
    }
}

@media only screen and (min-width: 976px) {
    .about-introduce {
        flex-direction: row;

        .intro-text {
            width: 48%;
        }
        .image {
            width: 48%;
        }
    }
}