.favourite-wrapper {
    position: relative;
    width: 100%;
    .favourite-inner {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;

        .favourite {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}