.header-bot {
  background-color: #fff;
  .header-bot-content {
    max-width: 1200px;
    height: 60px;
    padding-left: 12px;
    padding-right: 12px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      .sc-p-wrapper {
        position: relative;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        color: #000;
        justify-content: center;
        transition: all .4s ease;
        cursor: pointer;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}

@media (min-width: 880px) {

}

@media (max-width: 879px) {
  .header-bot {
    .header-bot-content {
      .content-right {
        flex: 1;
        .search-wrapper {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .header-bot {
    .header-bot-content {
      .content-right {
        .search-wrapper {
          max-width: 300px;
        }
      }
    }
  }
}